.nav {
  background-color: #fdf6f0;
  padding: 3% 12%;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  position: fixed;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
}

.nav__link {
  color: #2e363e;
  position: relative;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__notification {
  position: absolute;
  top: -20px;
  left: 21px;
  animation: notificationAnimation 3s ease-in-out infinite;
}

.nav__btn:last-child {
  position: relative;
}

@keyframes notificationAnimation {
  0% {
    transform: none;
  }
  50% {
    transform: translateY(-5px) rotateY(360deg);
  }
  100% {
    transform: none;
  }
}
